<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App MNIST </title>
</head>
<body>
    <h1>MNIST handwritten digits predictor</h1>
    <form id="upload-form" action="{{ url_for('upload') }}" enctype="multipart/form-data">
        <input type="file" name="image" value="Upload" />        
        <input type="submit" value="Predict" id="btnPredict" />
    </form>
    <br>
    <div id="uploaded-image-container">
        <img id="uploaded-image" src="">
        <h4>Class-prediction: <span id="class_result"></span></h4>        
    </div>    

    <h3>List of images</h3>
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th>Image</th>
                <th>Class-prediction</th>
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row['id'] }}</td>
                <td><img src="{{ row['img_path'] }}" width="100" height="100"></td> <br>
                <td>digit = {{ row['pred_class'] }}</td>
            </tr>            
        {% endfor %}
        </tbody>
    </table>

    <script type="application/javascript" src="{{ url_for('static', filename = 'js/jquery-3.7.0.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename = 'js/index.js') }}"></script>
</body>
</html>
